/* css resset */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    font-family:   poppins-light;
    color: hsl(0, 0%, 20%);
    background-color: rgba(248, 255, 157, 0.473);
}
p{
    font-size: 0.8rem;
}

img{
    cursor: pointer;
}

@font-face {
    font-family: poppins;
    src: url(../../assets/fonts/Poppins/Poppins-Black.ttf);
}
@font-face {
    font-family: poppins-light;
    src: url(../../assets/fonts/Poppins/Poppins-Light.ttf);
}
/* resset end */
/* headaer */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 100%, 0.701);
    z-index: 9999;
}

/* header logo */

header h1{
font-size: 2rem;
font-family: serif;
}

.logo-wraper{
    display: flex;
    align-items: center;
}

/* header logo end */

/* navbar */

header nav ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-right: 2rem;
}

header nav ul li{
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 1.4rem;
    font-weight: 400;
    transition:color 0.2s ease-in-out;
}

header nav ul li a:hover{
    color: hsl(197, 100%, 24%);
    
}

/* navbar end */

/* header end */

/* footer */
footer{
    background-color: hsl(0, 0%, 0%);
    color: white;
    padding: 0 2rem 2rem;
    text-align: center;
    margin-top: 4rem;
}

.footer-logo-container{
   padding: 2rem;
}

.footer-logo-card{
    border-bottom: 1px solid rgba(255, 255, 255, 0.397);
}

.logo-container{
    display: flex;
    align-items: center;
    width: fit-content;
}

.logo-container img{
    width: 5rem;
}


.footer-container a{
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;

}

.footer-container a:hover{
    color: hsl(0, 0%, 60%);
}

#footer-quote{
 font-size: 0.8rem;
 font-weight: 200;
 margin-top: 1rem;
 width: 20rem;
}

.footer-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}


.service-container{
    text-align: left;
}


.footer-social-container{   
    text-align: left;
}

.container-contacts{
    text-align: left;
}


.service-container a{
    display: block;
}



.footer-social-container button{
    display: block;
    margin: 1rem auto 1rem 0;
}

#copy-right{
    border-top: 2px solid rgba(255, 255, 255, 0.301);
    margin-top: 2rem;
    padding-top: 2rem;
}


/* footer end */


/* social media */

.github,
.facebook,
.instagram,
.tiktok{
    padding: 0.2rem 0.6rem;
    border: none;
    border-radius: 5px;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid white;
}

.github:hover,
.facebook:hover,
.instagram:hover,
.tiktok:hover{
    transform: translateY(-3px);
}
.github:active,
.facebook:active,
.instagram:active,
.tiktok:active{
    opacity: 80%;
}

.github{
    background-color: hsl(0, 0%, 0%);
    z-index: 1;
}

.facebook{
    background-color: rgb(64, 42, 255);
}

.instagram{
    background: linear-gradient(to right, rgb(25, 0, 255), rgb(255, 187, 0));
}

.tiktok{
    background-color: black;
}

/* overlay */

.wraper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.about-hero{
    background: url(../assets/about-img/austin-distel-wD1LRb9OeEo-unsplash.jpg);
   
}

.contact-hero{
    background: url(../assets/contact-img/pexels-divinetechygirl-1181244.jpg);

}
.services-hero{
    background: url(../assets/services-img/digital-marketing.jpg);
   
}
.product-hero{
    background: url(../assets/product-img/costumize-app.jpg);
   
}

.layout-hero{
    position: relative;
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16rem;
    background-position: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    z-index: -1;
}

h1{
    z-index: 10;
}

.services-hero h1, .product-hero h1, .contact-hero h1{
    font-size: 3rem;
    font-weight: 400;
   }
/* overlay end */